.breadcrumb-wrapper {
    background: #f8f9fa;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: row-reverse; /* ✅ يعكس ترتيب العناصر */
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #3B6EA5;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumb-item a:hover {
    color: #1f4a77;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item:not(:first-child)::before {
    content: "/";
    margin: 0 10px;
    color: #adb5bd;
}



.breadcrumb-item i {
    font-size: 16px;
}


/* خاص بتقسيم صفحات الجداول */

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start; /* ✅ يجعل العناصر تبدأ من اليسار */
    width: 100%;
}


.pagination select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Tajawal', sans-serif;
}

.pagination button {
    padding: 8px 16px;
    border: none;
    background-color: #67917D;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Tajawal', sans-serif;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    font-family: 'Tajawal', sans-serif;
}

.pagination span {
    font-weight: bold;
}



/* خاص بتوحيد جداول الموقع */

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.data-table th {
    background-color: #f9f9f9;
    color: #033043;
    font-weight: bold;
}

.data-table tr:nth-child(even) {
    background-color: #fdfdfd;
}

.data-table tr:hover {
    background-color: #eef6f8;
}

